<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.microdroid.demo">

    <uses-permission android:name="android.permission.MANAGE_VIRTUAL_MACHINE" />
    <uses-sdk android:minSdkVersion="33" android:targetSdkVersion="33"/>
    <uses-feature android:name="android.software.virtualization_framework" android:required="true" />
    <application
        android:label="MicrodroidDemo"
        android:theme="@style/Theme.MicrodroidDemo"
        android:testOnly="true">
        <activity android:name=".MainActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
